.quotes-chart .chart-series-line,
.balance-chart .chart-series-line{
    -fx-stroke-width: 1px;
}

.default-color0.chart-area-symbol { -fx-background-color: #e9967a, #ffa07a; }
.default-color1.chart-area-symbol { -fx-background-color: #f0e68c, #fffacd; }
.default-color2.chart-area-symbol { -fx-background-color: #dda0dd, #d8bfd855; }

.default-color0.chart-series-area-line { -fx-stroke: rgba(63, 250, 50, 1); }
.default-color1.chart-series-area-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-area-line { -fx-stroke: #dda0dd; }

.default-color0.chart-series-area-fill { -fx-fill: rgba(58, 250, 47, 0.12); }
.default-color1.chart-series-area-fill { -fx-fill: none; }
.default-color2.chart-series-area-fill { -fx-fill: none; }
.default-color3.chart-series-area-fill { -fx-fill: none; }
.default-color4.chart-series-area-fill { -fx-fill: none; }

.chart {
    -fx-background-color: rgb(104, 112, 117);
}

.chart-plot-background {
    -fx-background-color: rgb(44, 46, 45);
}

.axis {
    -fx-tick-label-fill: rgb(226, 223, 223);
}

.chart-vertical-grid-lines {
    -fx-stroke: #58585a;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #58585a;
}


/* Balance chart */
.balance-chart .default-color0.chart-series-area-line { -fx-stroke: #1d91fa; }
.balance-chart .default-color0.chart-series-area-fill { -fx-fill: rgba(91, 194, 250, 0.4); }

